// === COLORS ===
$text-color: #065600;
$body-background-color: #fff;
$theme-color: #170a48;
$secondary-color: #f27731;
$ternary-color: $text-color;
$link-color: $secondary-color;
$menu-item-color: #fff;

// === FONTS ===
$text-font: "Roboto", Arial, sans-serif;
$headline-font: "Lobster", Georgia, serif;

// === SIZES ===
$footer-height: 60px;